.hero {
  width: 100%;
  height: 100vh;

  /* şəkili sən əlavə edəcəksən */
  background-image: url("../../../assets/image/banner-bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;

  padding: 0 80px;
}

/* sol tərəf content */
.hero-content {
  max-width: 500px;
  color: white;
}

/* MEN COLLECTION */
.hero-subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

/* title */
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

/* yaşıl hissə */
.hero-title span {
  color: #7ed321;
}

/* description */
.hero-desc {
  font-size: 16px;
  margin-bottom: 25px;
  color: #ddd;
}

/* button */
.hero-btn {
  padding: 12px 30px;
  background-color: #7ed321;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #6bc218;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    padding: 0 20px;
    height: 80vh;
  }

  .hero-title {
    font-size: 36px;
  }

  .hero-desc {
    font-size: 14px;
  }
}